
body{
    margin: 20px 20px 20px 20px;
    /*
    background-image: url("../img/access-app-128.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-position-y: 250px;
    */
}

a {
    text-decoration: none;
    cursor: pointer;
}

@font-face {
    font-family: 'icomoon';
    src: url('IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"],[class*=" icon-"] {
    font-family: "icomoon";
    speak: none;font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#sidedrawer {
    left: 0;
}


#header, #sidedrawer {
    transition: left .2s;
}
#sidedrawer {
    bottom: 0;
    width: 200px;
    left: -200px;
    overflow: auto;
    background-color: #FFF;
}
header, #sidedrawer {
    z-index: 2;
    transition: left .2s;
    position: fixed;
    top: 0;
}
#appbar-sidenav-hide, #appbar-sidenav-show {
    position: relative;
    left: -2px;
    margin-right: 18px;
}


.icon-more-vert:before {
    content: "\e994";
    text-decoration: none;
}
.icon-menu:before {
    content: "\e902";
    text-decoration: none;
}

#appbar-more-vert .icon-more-vert {
    font-size: 24px;
    position: relative;
    top: 3px;
}

#appbar .icon-keyboard-arrow-right {
    font-size: 20px;
    position: relative;
    top: 1px;
}

#appbar-more-vert, #appbar-sidenav-hide, #appbar-sidenav-show {
    font-size: 24px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    width: 31px;
    height: 31px;
    line-height: 31px;
    display: inline-block;
    //color: #FFF;
}

#appbar-sidenav-hide, #appbar-sidenav-show {
    position: relative;
    left: -2px;
    margin-right: 18px;
}

.appbar{
    display: block;
    position: relative;
    top: 5px;
}

.login{
    pointer-events: none;
    display: none;
    position: fixed;
    z-index: 99;
    opacity: 0;
    transition: 0.4s;
}
.login.visible{
    position: relative;        
    display: block;
    z-index: 102;
    opacity: 1;
    transition: 0.5s;
    pointer-events: auto;
}
.log-access{
    position: fixed;
    pointer-events: none;
    z-index: 98;
    opacity: 0;
    transition: 0.4s;
}
.log-access.visible{
    position: relative;
    z-index: 101;
    opacity: 1;
    transition: 0.5s;
    pointer-events: auto;
}

.error-message{
    font-weight: bold;
    color: red;
}

/*---------------------------
        SETTINGS Page
----------------------------*/

.single-product{
    z-index: 100;
}

.overlay{
    /*height: 20px;*/
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #282b2c;
    /*transition: 0.6s;*/
    z-index: 100;
}

.single-product.visible .overlay{
    height: 100%;
}

.preview-large{
    box-sizing: border-box;
    width: 760px;
    height: 550px;
    position: fixed;
    left: 50%;
    margin-left: -375px;
    top: 50%;
    margin-top: -275px;
    pointer-events: none;

    border-radius: 6px;
    background-color:  #ffffff;

    z-index: 102;
    opacity: 0;
    transition: 0.4s;
    
    padding: 20px;
}

.single-product.visible .preview-large{
    opacity: 1;
    /*transition: 1.4s;*/
    pointer-events: auto;
}

.preview-large img{
    width: 100%;
    height: 280px;
    border-bottom: 3px solid #efefef;
    border-radius: 5px 5px 0 0;
}

.preview-large p{
    line-height: 23px;
    padding: 50px 45px;
}

.close-settings{
    position: absolute;
    right: 25px;
    top: 15px;

    font-size: 28px;
    color: #555;
    cursor: pointer;
}

.preview-large h3{
    margin-top: 20px;
    font: normal 24px 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #5A96B9;
    padding-bottom: 20px;
    text-align: center;
}